chilin_env
chilin.iml
.idea
test/testB_output
test/testA_output
*.orig
build
slides
*.pyc
*.py~
chilin2.egg-info*
_build
.DS_Store
test
dist
distribute-*
testsuite
.hg
*~
.hgignore
chilin.conf.filled
chilin2/modules/config/chilin.conf
TAGS
data
.o*
chilin_env
